@import "../../app.scss";

.navbar {
    height: 100px;

    .wrapper {
        max-width: 1366px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        @include mobile {
            justify-content: flex-end;
            padding: 20px;
        }

        @include tablet {
            justify-content: space-between; // Adjust for tablet layout if needed
            padding: 10px; // Modify padding for tablets
        }

        @include desktop {
            justify-content: space-between; // Adjust for desktop layout if needed
            padding: 15px; // Modify padding for desktops
        }

        span {
            font-weight: bold;  
            margin-left: 259px; 

            @include mobile {
                margin-left: 10px; // Adjust margin for mobile
            }

            @include tablet {
                margin-left: 20px; // Adjust margin for tablet
            }
        }

        .social {
            display: flex;
            gap: 20px;

            img {
                width: 18px;
                height: 18px;

                @include mobile {
                    width: 16px; // Adjust icon size for mobile
                    height: 16px; // Adjust icon size for mobile
                }
            }

            .linkedin {
                background-color: #85c1e9;
            }
        }
    }
}
