@import "../../app.scss";

.navbar {
    height: 100px;

    .wrapper {
        max-width: 1366px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        @include mobile {
            justify-content: flex-end;
            padding: 20px;
        }

        @include tablet {
            justify-content: space-between; // Adjust for tablet layout
            padding: 10px; // Modify padding for tablets
        }

        @include desktop {
            justify-content: space-between; // Adjust for desktop layout
            padding: 15px; // Modify padding for desktops
        }

        span {
            font-weight: bold;  
            margin-left: 259px; 

            @include mobile {
                margin-left: 10px; // Adjust margin for mobile
                font-size: 14px; // Adjust font size for mobile
            }

            @include tablet {
                margin-left: 20px; // Adjust margin for tablet
                font-size: 16px; // Adjust font size for tablet
            }

            @include desktop {
                margin-left: 30px; // Adjust margin for desktop
                font-size: 18px; // Adjust font size for desktop
            }
        }

        .social {
            display: flex;
            gap: 20px;

            @include mobile {
                gap: 10px; // Adjust gap for mobile
            }
            img {
                width: 18px;
                height: 18px;
            }

            a {
                img {
                    width: 20px; // Set a fixed width for uniformity
                    height: auto; // Maintain aspect ratio

                    @include mobile {
                        width: 16px; // Adjust icon size for mobile
                    }

                    @include tablet {
                        width: 18px; // Adjust icon size for tablet
                    }

                    @include desktop {
                        width: 20px; // Adjust icon size for desktop
                    }
                }

                @include tablet {
                    width: 18px; // Adjust icon size for tablet
                    height: 18px; // Adjust icon size for tablet
                }

                @include desktop {
                    width: 20px; // Adjust icon size for desktop
                    height: 20px; // Adjust icon size for desktop
                }
            }

            .linkedin {
                background-color: #85c1e9;

                @include mobile {
                    padding: 5px; // Adjust padding for mobile
                }

                @include tablet {
                    padding: 7px; // Adjust padding for tablet
                }

                @include desktop {
                    padding: 10px; // Adjust padding for desktop
                }
            }
        }
    }
}
